[user]
	email = sw.vitaliy@gmail.com
	name = Vitaliy
[core]
	excludesfile = /home/vit/.gitignore_global
	editor = vi
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  logp = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  k = !gitk
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lc = log ORIG_HEAD.. --stat --no-merges
  ch = cherry-pick

[credential]
	helper = store
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
