[user]
	email = sw.vitaliy@gmail.com
	name = swvitaliy
[core]
	excludesfile = /home/vit/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  k = !gitk  
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lc = log ORIG_HEAD.. --stat --no-merges
  
[credential]
	helper = store
